@media @mobile {
	div#logo.loggedIn {
	    margin-top: 6px;
	    
		> div.path {
			width: 30px;
			height: 27px;
		}
		
		> div.tutanota {
			left: 31px;
			width: 74px;
			height: 27px;
		}
		> div.claim {
			display: none;
		}
	}
}

header#main {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	height: 55px;
	@media @mobile {
		height: 40px;
	}
	border-bottom: 1px solid @border-dark;
	background-color: @background-dark;
	background-clip: padding-box;
	
	> div.logoPathBackground {
		position: absolute;
		width: 10px;
		height: 39px;
		background-color: @background-dark;
		z-index:2;
		//display: none;
	}
	
	> img {
		display:none;
		position:absolute;
		height: 37px;
		margin: 7px;
		// small: height: 27px; margin-top: 4px;
	}
	
	> select#fontSelector, select#themeSelector  {
		position: absolute;
		left: 130px;
		top: 6px;
	}
	
	div#log {
		position: absolute;
		left: 330px;
		top: 0px;
		bottom: 0px;
		width: 300px;
		font-size: 10px;
	}
	
	menu {
		ul#menu_list {
			list-style-type: none;
			position: absolute;
			right: 0px;
			
			> li {
				float:left;
				.clearfix;
				
				> div.menu_link {
					cursor: pointer;
					// more properties below
				}
				
				> img.languageIcon {
					position: relative;
					top: 10px;
					margin-left: auto;
				    margin-right: auto;
				    text-align: center;
					height: 26px;
					opacity: 0.9;
					cursor: pointer;
					
					&.disabled {
						opacity: 0.2;
						
						html.ie.lte8 & {
							-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
						}
					}
				}
			}
		}
	}
}

// also used in mail and contact view if no entities is shown
div.menu_link  {
	width: 80px; // defines the width of each menu item (+ margin)
	
	@media @mobile {
		width: 50px;
	}
	
	div.menu_image {
		position: relative;
		height: 30px;
		margin-left: auto;
	    margin-right: auto;
	    text-align: center;
	    
		> div {
		    width: 28px;
		    height: 28px;
		    top: 3px;
		    position: relative;							
		}
		
	}
	
	div.menu_text  {
		.light;
		.smallFont;
		text-align: center;
		overflow: hidden;
		white-space: nowrap;
		margin-left: 2px;
		margin-right: 2px;
		.fadeTextOut;
		
		@media @mobile {
			display: none;
		}
	}
}


