
div.login {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	
	> div.loginContent {
		max-width: 550px;
		margin-top: 5px;
		margin-left: auto;
		margin-right: auto;
		
		color: @black;
		text-align: center;
		font-size: 0.95em;
		
		> div.loginArea {
			.mainWidget;
			
			> div {
				
				> div.message {
					min-height: 42px;
				}				
		
				input.loginTextInput {
					width: 50%;
					.inputField;
				}
				
				// for notSupportedView
				> ul {
					list-style-type: none;
					> li {
						margin-top: 10px; 
						> a {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

div.clientInfo {
	position: absolute;
	left: 5px;
	bottom: 5px;
	font-size: 10px;
	line-height: 10px;
}

div#registration {
	overflow-y: auto;
	> div.loginContent {
		> div.loginArea {
			> div {
				
				input#mailAddress {
					width: 50%;
				}
				
				div#invoiceAddress {
					white-space: pre-wrap;
				}
				
				div.progressBg {
					display: inline-block;
					position: relative;
					width: 100px;
					height: 12px;
					background-color: @blue;
					border: 1px solid @dark-grey;
					border-radius: 3px;

					> div.progressFg {
						background: @light-blue;
						position: absolute;
						top: 0px;
						right: 0px;
						width: 100%;
						height: 100%;
						border-top-right-radius: 3px;
						border-bottom-right-radius: 3px;
					}
				}

				div.password1Status, div.createAccountStatus {
					display: inline-block;
				}
			}
		}
	}
}