// If these widths are changed, we have to update the measure function in ViewManager!
@menuItemWidth: 80px;
@menuItemWidthSmall: 45px;

div.outerExternalUserWelcomeMessage {
  display: table;
  width: 240px;
  height: @header-height - 1;
  margin: auto;

  > div.innerExternalUserWelcomeMessage {
    display: table-cell;
    font-size: @default-font-size;
    line-height: 1.2;
    .light;
    vertical-align: middle;
    text-align: center;
  }
}

header#main {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: @header-height;
  line-height: @header-height;
  @media @mobile {
    height: @header-height-small;
    line-height: @header-height-small;
  }

  > div#externalUserWelcomeMessage {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: @header-height - 1;
    overflow: hidden;

    @media @mobile {
      display: none;
    }

    // outerExternalUserWelcomeMessage is used here
  }

  &.loggedIn {
    border-bottom: 1px solid @border-dark;
    background-color: @background-dark;
    background-clip: padding-box;

    @media @mobile {

      > div#logo {
        left: 6px;;
        top: 6px;

        > div.path {
          width: 32px;
          height: 29px;
        }

        > div.tutanota {
          display: none;
        }
      }

      > div#title {
        visibility: visible;
      }
    }
  }

  > button.leftViewButton {
    position: relative;
    float: left;
    max-width: 30%;
    .fadeTextOut;
    text-align: left;

    &:before {
      font-size: 27px;
      left: 2px;
    }

    @media @desktop {
      height: @header-height - 1;
      line-height: @header-height - 1;
    }

    @media @mobile {
      height: @header-height-small - 1;
      line-height: @header-height-small - 1;
    }
  }

  > div#logo {
    display: inline-block;
    position: absolute;
    left: 8px;
    top: 8px;
    line-height: 1;

    > div.path {
      position: relative;
      display: inline-block;
      width: 41px;
      height: 37px;

      > div.claim {
        position: absolute;
        top: 37px;
        width: 144px;
        height: 17px;

        header#main.loggedIn & {
          display: none;
        }
      }

      > img {
        width: 100%;
      }
    }

    > div.tutanota {
      position: relative;
      display: inline-block;
      height: 35px;
    }

    img {
      height: 100%;
      //position: absolute;
    }
  }

  > img {
    display: none;
    position: absolute;
    height: 37px;
    margin: 7px;
    // small: height: 27px; margin-top: 4px;
  }

  > select#fontSelector, select#themeSelector {
    position: absolute;
    left: 130px;
    top: 6px;
  }

  > div#title {
    position: absolute;
    .light;
    visibility: hidden;
    text-align: center;
    .fadeTextOut;
    margin: 0 auto;
    width: @title-width;
    top: 0px;
    left: 0;
    right: 0;
  }

  > div#right-navbar {
    position: relative;
    height: 100%;

    right:0;
    margin-left: @left-navbar-width;
    @media @mobile {
      width: 55px;
      float:right;
      margin-left: 0;
    }

    > menu {
      height: 100%;

      > ul#menu_list {
        list-style-type: none;
        position: relative;
        float: right;
        padding: 0px;

        > li.menu_link {
          float: right;
          .clearfix;
          cursor: pointer;
          .nonSelectable;

          width: @menuItemWidth; // defines the width of each menu item (+ margin)

          @media @desktop {
            line-height: 1; // there are two lines in the menu
          }

          height: @header-height - 1;
          @media @mobile {
            height: @header-height-small - 1;
          }

          &:active, &.active, &.selected {
            background-color: @highlight-color;
            border: 0;
          }

          @media @mobile {
            width: @menuItemWidthSmall;
          }

          div.menu_image {
            position: relative;
            display: inline-block;
            width: 100%;
            text-align: center;
            font-size: 28px;

            @media @desktop {
              height: 35px;
              line-height: 35px;
            }

              > div.menu_badge {
                position: absolute;
                top: 0px;
                right: 0px;
                padding-left: 3px;
                min-width: 17px;
                font-size: 12px;
                font-weight: bold;
                background: lighten(@dark-blue, 30%);
                border-radius: 8px;
                border: 2px solid @background-dark;
                line-height: 14px;
                padding-right: 3px;
              }
          }

          div.menu_text {
            .light;
            .smallFont;
            height: 16px; // must be a bit bigger than font-size, otherwise lower parts are cut off because of overflow:hidden
            line-height: 1;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            margin-left: 2px;
            margin-right: 2px;
            .fadeTextOut;

            @media @mobile {
              display: none;
            }
          }
        }
      }
    }
  }
}
