@title-width:35%;
@left-navbar-width: 230px;
@left-navbar-width-small: 30%;
@indicator-width: 37px;
@indicator-width-small: 27px;
@indicator-side-margin: 8px;
@indicator-side-margin-small:6px;
@nav-icon-width: @indicator-width + @indicator-side-margin;
@nav-icon-width-small: @indicator-width-small + @indicator-side-margin-small;
@header-height:55px;
@header-height-small:40px;


// If these widths are changed, we have to update the measure function in ViewManager!
@menuItemWidth: 80px;
@menuItemWidthSmall: 45px;

header#main {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  height: @header-height;
  @media @mobile {
    height: @header-height-small;
  }

  &.loggedIn {
    border-bottom: 1px solid @border-dark;
    background-color: @background-dark;
    background-clip: padding-box;

    @media @mobile {
      > div#left-navbar {
        width: @left-navbar-width-small;
        margin-top: 6px;
        left: -@nav-icon-width-small;

        &.showNavButton {
          left: -10px;
        }

        > div.leftViewButton {
          top:1px;
          left: @indicator-side-margin;
          font-size: @indicator-width-small;
        }

        > div#logo {
          left: @nav-icon-width-small + @indicator-side-margin-small;;
          > div.path {
            width: 30px;
            height: 27px;
          }

          > div.tutanota {
            display: none;
          }
        }

        > div#previousLocation {
          top: 0px;
          left:30px;
        }
      }
      > div#title {
        margin-top: 6px;
        visibility: visible;
      }
    }
  }

  > div#left-navbar {
    position: relative;
    float: left;
    height: 100%;
    left: -@nav-icon-width;
    margin-top: 8px;

    transition: left 0.5s;
    width: @left-navbar-width;

    &.showNavButton {
      left: -12px;
    }

    > div.leftViewButton {
      position: absolute  ;
      top:0px;
      left: @indicator-side-margin;
      font-size: @indicator-width;
      opacity: 0.8;
      cursor: pointer;
      overflow: hidden;
    }

    > div#previousLocation {
        .light;
        position: absolute;
        left:36px;
        right:0px;
        top:5px;
        height:27px;
        overflow:hidden;
        text-overflow: ellipsis;
    }

    > div#logo {
      display: inline-block;
      position: absolute;
      left: @nav-icon-width + @indicator-side-margin;
      > div.path {
        position: relative;
        display: inline-block;
        width: 41px;
        height: 37px;

        > div.claim {
          position: absolute;
          top: 37px;
          width: 144px;
          height: 17px;

          header#main.loggedIn & {
            display: none;
          }
        }

        > img {
          width: 100%;
        }
      }

      > div.tutanota {
        position: relative;
        display: inline-block;
        height: 35px;
      }

      img {
        height: 100%;
        //position: absolute;
      }
    }
  }

  > img {
    display: none;
    position: absolute;
    height: 37px;
    margin: 7px;
    // small: height: 27px; margin-top: 4px;
  }

  > select#fontSelector, select#themeSelector {
    position: absolute;
    left: 130px;
    top: 6px;
  }

  div#log {
    position: absolute;
    left: 330px;
    top: 0px;
    bottom: 0px;
    width: 300px;
    font-size: 10px;
  }

  > div#title {
    .light;
    visibility: hidden;
    margin-top: 8px;
    text-align: center;
    white-space: nowrap;
    margin: 0 auto;
    position: relative;
    width: @title-width;
    left: 0;
    right: 0;
  }

  > div#right-navbar {
    position: relative;
    height: 100%;

    right:0;
    margin-left: @left-navbar-width;
    @media @mobile {
      width: 50px;
      float:right;
      margin-left: 0;
    }

    > menu {
      height: 100%;

      > ul#menu_list {
        list-style-type: none;
        position: relative;
        float: right;
        padding: 0px;

        > li {
          float: right;
          .clearfix;
          cursor: pointer;


          > img.languageIcon {
            position: relative;
            top: 10px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            height: 26px;
            opacity: 0.9;
            cursor: pointer;

            &.disabled {
              opacity: 0.2;
            }
          }
        }
      }
    }
  }


}


div#modalMoreMenu {
  > div {
    display:block;
    > #menu_more {
      position: absolute;
      right: @indicator-side-margin;
      top: @header-height - 10px;
      @media @mobile {
        top: @header-height-small - 10px;
        @indicator-side-margin-small:6px;
      }
      border: 0px;
      z-index: 4;
      min-width: 200px;

      >div#triangle-up {
        position:absolute;
        right: 5px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px  solid @background-dark;
      }

      ul {
        border-radius:5px;
        position:absolute;
        width:100%;
        top: 10px;
        right:0px;
        background-color: @background-dark;
        list-style-type: none;
        padding: 0px;

        li {
          cursor: pointer;
          .light;
          //height: 35px;
          padding: @padding;
          border-bottom: 1px solid @border-dark;
        }
      }
    }
  }
}

// also used in mail and contact view if no entities is shown
.menu_link {
  width: @menuItemWidth; // defines the width of each menu item (+ margin)
  -webkit-tap-highlight-color: @highlight-color;

  height: @header-height - 1;
  @media @mobile {
    height: @header-height-small - 1;
  }

  &:active, &.selected {
    background-color: @highlight-color;
    border: 0;
  }

  @media @mobile {
    width: @menuItemWidthSmall;
  }

  div.menu_image {
    position: relative;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    > div {
      font-size: 28px;
      height: 28px;
      width: 28px;
      top: 3px;
      position: relative;

      > div.menu_badge {
        position: absolute;
        top: -3px;
        right: -10px;
        padding-left: 3px;
        min-width: 17px;
        font-size: 12px;
        font-weight: bold;
        background: lighten(@dark-blue, 30%);
        border-radius: 8px;
        border: 2px solid @background-dark;
        line-height: 14px;
        padding-right: 3px;
      }
    }

  }

  div.menu_text {
    .light;
    .smallFont;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 2px;
    margin-right: 2px;
    .fadeTextOut;

    @media @mobile {
      display: none;
    }
  }
}


