@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: @ionicons-font-family;
  src:url("@{ionicons-font-path}/ionicons.eot");
  src:url("@{ionicons-font-path}/ionicons.eot?#iefix") format("embedded-opentype"),
  url("@{ionicons-font-path}/ionicons.woff") format("woff"),
  url("@{ionicons-font-path}/ionicons.ttf") format("truetype"),
  url("@{ionicons-font-path}/ionicons.svg?#ionicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@icon-color: darken(@dark-blue, 15%);
@menu-icon-color: darken(@dark-blue, 15%);
@new-color: lighten(@dark-blue, 15%);

.ie-background-image(@url) {
}

.ion {
  font-family: @ionicons-font-family;
  text-rendering: auto;
  font-size: 120%
}

.imgButton {
  // TODO remove
  display: inline-block;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  // till here

  /*********** Copied from icomoon style.css ***************/
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  /*********** END: Copied from icomoon style.css ***************/

  color: @icon-color;

  object {
    display: initial;
  }

  &.cancel:before {
    // content: "\e36b";
    .ion;
    content: @ionicon-var-close;
  }

  &.confirm:before {
    .ion;
    content: @ionicon-var-checkmark;
  }

  &.send:before {
    .ion;
    content: @ionicon-var-paper-airplane;
  }

  &.search:before {
    content: "\e1b7";
  }

  &.mail-new:before {
    .ion;
    content: @ionicon-var-compose;
  }

  &.mail:before {
    content: "\e0ec";
  }

  &.reply:before {
    .ion;
    content: @ionicon-var-reply;
    font-size: 130%;
  }

  &.reply-all:before {
    .ion;
    content: @ionicon-var-reply-all;
    font-size: 130%;
  }

  &.forward:before {
    .ion;
    content: @ionicon-var-forward;
  }

  &.export:before {
    .ion;
    content: @ionicon-var-ios7-download;
  }

  &.contact-new {
    &:before {
      content: "\e186";
    }
    .new;
  }

  &.contact:before {
    content: "\e186";
  }

  &.file-new {
    &:before {
      content: "\e12a";
    }
    .new;
  }

  &.file:before {
    content: "\e12a";
  }

  &.calendar {
    > time#day {
      position: absolute;
      top: 8px;
      left: 0px;
      right: 0px;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      color: @icon-color;
    }
  }

  &.settings:before {
    content: "\e1e0";
  }

  &.feedback:before {
    content: "\e167";
  }

  &.logout:before {
    content: "\e37d";
  }

  &.left:before {
    content: "\e3bf";
  }

  &.right:before {
    content: "\e3bb";
  }

  &.leftIndicator:before {
    content: "\e3b3";
    //.ion;
    //content: @ionicon-var-chevron-left;
    //font-size: 120%;
  }

  &.trash:before {
    .ion;
    content: @ionicon-var-ios7-trash-outline;
  }

  &.restore {
    .ion;
    &:before {
      content: @ionicon-var-ios7-trash;
      position: relative;
      color: @new-color;
    }
    &:after {
      content: @ionicon-var-ios7-close-empty;
      position: relative;
      left: -14px;
      top: 10px;
      font-size: 200%;
    }
  }

  &.more:before {
    content: "\e600";
  }

  &.attachment:before {
    //.ion;
    //content: @ionicon-var-paperclip;
    content: "\e2d7";
  }

  &.attachment-small:before {
    content: "\e2d7";
    font-size: 12px;
  }

  &.trash-small:before {
    content: "\e24f";
    font-size: 12px;
  }

  &.lock-closed:before {
    content: "\e1d5";
  }

  &.lock-open:before {
    content: "\e1d6";
  }

  &.star:before {
    content: "\e2fc";
  }

  &.invite:before {
    content: "\e48c";
  }

  &.register:before {
    content: "\e185";
  }

  .new {
    &:after {
      position: absolute;
      right: -11px;
      bottom: -6px;
      width: 15px;
      height: 15px;
      color: @new-color;
      font-size: 15px;
      content: "\e376";
    }
  }

  &.progress {
    background-image: url("../graphics/busy.gif");
    background-size: 15px 15px;
  }
}

/******************** buttons.less ********************/

