
div#externalLogin {
	label#sendMailPasswordStatus {
		margin-bottom: 10px;
	}
	div.extPhoneNumberRow {
		.clearfix; // avoid that the right-floating button covers the content below

		> div {
			display: inline-block;
			vertical-align: sub;
		}
		> button {
			float: right;
		}		
	}
}


div.loginBoxContent {
	position:relative;
	margin:0 auto; // center horizontally
    margin-bottom: @header-height;
	border: 1px solid @border;
	top: @header-height;
	border-radius: 10px;
	max-width:360px;
	padding: 35px;
	@media @mobile {
	  border: none;
	  top: @header-height-small;
      margin-bottom: @header-height-small;
	  padding-top:0;
      padding-bottom:0;
	}

  .inputField {
    border : 0;
    border-bottom: 1px solid @border
  }

  .highStatusField {
    min-height: 36px; // minimum two rows of status messages
  }
}

div.loginButtonLeft {
  overflow: hidden;

  > button {
    border: 0px;
    background-color: @button-background;
    border-radius: 5px 0px 0px 5px;
    color: @black;
    .fadeTextOut;
  }
}

div.loginButtonRight {
  float: right;
  line-height: 1; // to avoid that the button moves down
  margin-left: 3px;

  > button {
    min-width: 40px;
    background-color: @button-background;
    border: 0px;
    border-radius: 0px 5px 5px 0px;

    &:before {
      left: 8px;
    }
  }
}

div.failContent {
  position: absolute;
  .fill;
  margin-top: 70px;

  > div.messageWrapperFail { // fakes a min-margin
    position: relative;
    height: 100%;
    padding-left: 7px;
    padding-right: 7px;

    > div.infoMessage {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      max-width: 800px;
    }
  }
}

div.appInfo > div > div > a {
  display: inline-block; // needed to make link as big as image

  > img {
    display: block; // needed to make link as big as image
  }
}

div#registration {
  form.recordContainer {
    margin: 10px;
  }
}

div.passwordStatus {
   display: inline-block;
}
div.pwStrengthBg {
  top: 2px;
}

div.socialMediaLinks {
  .light;

  > a {
    margin-right: 10px;

    > img {
      width: 30px;
      margin-top: 5px;
    }
  }
}