div#logo,
header#main, 
div#tagListColumn, 
div#searchAndMailListColumn,
div.buttonBar,
img#mailImage,
button,
input   {
	display: none;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 18px;
	
	div.content {
		// For Firefox, all absolute width assignments in the dom-tree of the printed element must be removed.
		// the page will be printed very small, otherwise (firefox tries to translate all absolute sizes to the printout)
		width: 100% !important;
		
		> div#conversationColumn {
			width: 100% !important;
			
			section.mail {
				position: absolute;
				padding: 5px;
				width: 100% !important;
				
				> header {
					width: 100%;
					border: 1px solid @blue;
					padding: 5px 10px 5px 10px;
					
					> div.headerTable {
						display: table;
						width: 100%;
					
						> div.headerLine {
							display: table-row;
							
							> div.name {
								display: table-cell;
								vertical-align: middle;
								width: 35px;
							}
							
							> div.value.edit, div.name.edit {
								padding-top: 5px;
								padding-bottom: 5px;
							}
				
							> .value {
								display: table-cell;
								vertical-align: middle;
								padding-left: 5px;
			
								> .rightAligned {
									float: right;
								}
							}
						}
					}
					
					> div.attachments {
						> div.download {			
							display: inline-block;
							position: relative; // this child 'object' (flash) must be positioned absolute
							height: 28px;
						    border-radius: 5px;
							-moz-border-radius: 5px;
							-webkit-border-radius: 5px;
							line-height: 28px;
							text-decoration: none;
							cursor: pointer;
							background-color: @button-background;
						
							margin-top: 5px;
							margin-bottom: 5px;
						
							> div.mimeImage {
								display: inline-block;
								margin-left: 10px;
								
								> img {
									width: 16px;
									height: 16px;
									margin-right: 2px;
								}
							}
							> div.fileName {
								max-width: 150px;
								display: inline-block;
								padding-right: 5px;
								.fadeTextOut;
							}
							
							> div.fileSize {
								display: inline-block;
								vertical-align: top;
								padding-right: 5px;
							}
							> div.removeAttachment {
								display: none;
							}
						}
					}
				}
				
				> div.mailBody, div.mailBodyQuotation {
					margin: 5px;
					line-height: 1.5;
					word-wrap: break-word;	
				}
			}
		}
	}
	
	
	a:after {
  		content: " (" attr(href) ")";
	}
}

