<?xml version='1.0' encoding='utf-8'?>
<widget id="de.tutao.tutanota" version="2.11.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Tutanota</name>
  <description>
    Tutanota is the secure client for end-to-end encrypted mail.
  </description>
  <author email="hello@tutao.de" href="http://tutanota.de">
    Tutao GmbH
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <!-- See:
         * http://cordova.apache.org/docs/en/edge/config_ref_images.md.html
         * https://gist.github.com/LinusU/7515016
         -->
  <platform name="android">
    <icon src="graphics/app/android/icon-36-ldpi.png" density="ldpi"/>
    <icon src="graphics/app/android/icon-48-mdpi.png" density="mdpi"/>
    <icon src="graphics/app/android/icon-72-hdpi.png" density="hdpi"/>
    <icon src="graphics/app/android/icon-96-xhdpi.png" density="xhdpi"/>

    <!-- you can use any density that exists in the Android project -->
    <splash src="graphics/app/android/large_land_hdpi.9.png" density="land-hdpi"/>
    <splash src="graphics/app/android/small_land_ldpi.9.png" density="land-ldpi"/>
    <splash src="graphics/app/android/medium_land_mdpi.9.png" density="land-mdpi"/>
    <splash src="graphics/app/android/xlarge_land_xhdpi.9.png" density="land-xhdpi"/>

    <splash src="graphics/app/android/large_port_hdpi.9.png" density="port-hdpi"/>
    <splash src="graphics/app/android/small_port_ldpi.9.png" density="port-ldpi"/>
    <splash src="graphics/app/android/medium_port_mdpi.9.png" density="port-mdpi"/>
    <splash src="graphics/app/android/xlarge_port_xhdpi.9.png" density="port-xhdpi"/>

	<preference name="SplashScreenDelay" value="10000" />
	<preference name="SplashScreen" value="screen" />

  </platform>

  <platform name="ios">
  	<preference name="deployment-target" value="7.0" />
	<preference name="Orientation" value="all" />
	<preference name="BackupWebStorage" value="none" />
	
	<!-- iPhone (iOS 5,6 Spotlight) (iOS 5-8 Settings) -->
	<icon src="graphics/app/ios/icon-small.png" width="29" height="29" />
	<icon src="graphics/app/ios/icon-small@2x.png" width="58" height="58" />
	<icon src="graphics/app/ios/icon-small@3x.png" width="87" height="87" />
	<!-- iPhone (iOS 7,8 Spotlight) -->
	<icon src="graphics/app/ios/icon-40@2x.png" width="80" height="80" />
	<icon src="graphics/app/ios/icon-40@3x.png" width="120" height="120" />
	<!-- iPhone (iOS 5,6) -->
	<icon src="graphics/app/ios/icon.png" width="57" height="57" />
	<icon src="graphics/app/ios/icon@2x.png" width="114" height="114" />
	<!-- iPhone (iOS 7,8) -->
	<icon src="graphics/app/ios/icon-60.png" width="60" height="60" />
	<icon src="graphics/app/ios/icon-60@2x.png" width="120" height="120" />
	<icon src="graphics/app/ios/icon-60@3x.png" width="180" height="180" />
	<!-- iPad (iOS 5-8 Settings) -->
	<icon src="graphics/app/ios/icon-small.png" width="29" height="29" />
	<icon src="graphics/app/ios/icon-small@2x.copng" width="58" height="58" />
	<icon src="graphics/app/ios/icon-small@3x.png" width="87" height="87" />
	<!-- iPad (iOS 7,8 Spotlight) -->
	<icon src="graphics/app/ios/icon-40.png" width="40" height="40" />
	<icon src="graphics/app/ios/icon-40@2x.png" width="80" height="80" />
	<!-- iPad (iOS 5,6 Spotlight) -->
	<icon src="graphics/app/ios/icon-50.png" width="50" height="50" />
	<icon src="graphics/app/ios/icon-50@2x.png" width="100" height="100" />
	<!-- iPad (iOS 5,6) -->
	<icon src="graphics/app/ios/icon-72.png" width="72" height="72" />
	<icon src="graphics/app/ios/icon-72@2x.png" width="144" height="144" />
	<!-- iPad (iOS 7,8) -->
	<icon src="graphics/app/ios/icon-76.png" width="76" height="76" />
	<icon src="graphics/app/ios/icon-76@2x.png" width="152" height="152" />
	<!-- iPad Pro  -->
	<icon src="graphics/app/ios/icon-83.5@2x.png" width="167" height="167" />
	
	<!-- images are determined by width and height. The following are supported	-->

    <splash src="graphics/app/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="graphics/app/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="graphics/app/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="graphics/app/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="graphics/app/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="graphics/app/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="graphics/app/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="graphics/app/ios/Default-667h.png" width="750" height="1334"/>
    <splash src="graphics/app/ios/Default-736h.png" width="1242" height="2208"/>
    <splash src="graphics/app/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
	
	<feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>

    <preference name="CordovaWebViewEngine" value="CDVUIWebViewEngine" />  <!-- WKWebView currently deactivated because the accessory keyboard bar cannot be hidden with keyboard plugin -->
	<preference name="StatusBarStyle" value="default" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	
  </platform>

  <preference name="loadUrlTimeoutValue" value="300000" />
  <preference name="FadeSplashScreen" value="false"/>
  <preference name="AndroidLaunchMode" value="singleTop"/>
  <preference name="AndroidPersistentFileLocation" value="Internal"/>
  <preference name="iosPersistentFileLocation" value="Library"/>
  <preference name="android-minSdkVersion" value="14" />
  <preference name="android-targetSdkVersion" value="23" />
</widget>
