<?xml version='1.0' encoding='utf-8'?>
<widget id="de.tutao.tutanota" version="1.6.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Tutanota</name>
  <description>
    Tutanota is the secure client for end-to-end encrypted mail.
  </description>
  <author email="hello@tutao.de" href="http://tutanota.de">
    Tutao GmbH
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <!-- See:
         * http://cordova.apache.org/docs/en/edge/config_ref_images.md.html
         * https://gist.github.com/LinusU/7515016
         -->
  <platform name="android">
    <icon src="www/graphics/app/android/icon-36-ldpi.png" density="ldpi"/>
    <icon src="www/graphics/app/android/icon-48-mdpi.png" density="mdpi"/>
    <icon src="www/graphics/app/android/icon-72-hdpi.png" density="hdpi"/>
    <icon src="www/graphics/app/android/icon-96-xhdpi.png" density="xhdpi"/>

    <!-- you can use any density that exists in the Android project -->
    <splash src="www/graphics/app/android/large_land_hdpi.9.png" density="land-hdpi"/> 
    <splash src="www/graphics/app/android/small_land_ldpi.9.png" density="land-ldpi"/>
    <splash src="www/graphics/app/android/medium_land_mdpi.9.png" density="land-mdpi"/>
    <splash src="www/graphics/app/android/xlarge_land_xhdpi.9.png" density="land-xhdpi"/>

    <splash src="www/graphics/app/android/large_port_hdpi.9.png" density="port-hdpi"/>
    <splash src="www/graphics/app/android/small_port_ldpi.9.png" density="port-ldpi"/>
    <splash src="www/graphics/app/android/medium_port_mdpi.9.png" density="port-mdpi"/>
    <splash src="www/graphics/app/android/xlarge_port_xhdpi.9.png" density="port-xhdpi"/>

	<preference name="SplashScreenDelay" value="10000" />
	<preference name="SplashScreen" value="screen" />

  </platform>

  <platform name="ios">		
	<!-- images are determined by width and height. The following are supported	-->
    <splash src="www/graphics/app/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="www/graphics/app/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="www/graphics/app/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="www/graphics/app/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="www/graphics/app/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="www/graphics/app/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="www/graphics/app/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="www/graphics/app/ios/Default-667h.png" width="750" height="1334"/>
    <splash src="www/graphics/app/ios/Default-736h.png" width="1242" height="2208"/>
    <splash src="www/graphics/app/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
  </platform>


  <preference name="AndroidLaunchMode" value="singleTop"/>
  <preference name="AndroidPersistentFileLocation" value="Internal"/>
  <preference name="iosPersistentFileLocation" value="Library"/>
  <preference name="android-minSdkVersion" value="14" />
  <preference name="android-targetSdkVersion" value="19" />
</widget>
