[submodule "libs/webassembly/phc-winner-argon2"]
	path = libs/webassembly/phc-winner-argon2
	url = https://github.com/P-H-C/phc-winner-argon2
[submodule "libs/webassembly/liboqs"]
	path = libs/webassembly/liboqs
	url = https://github.com/open-quantum-safe/liboqs
