build
build-calendar-app
dist
node_modules
.idea
.gradle
/.run
test-ca
**/.DS_STORE
**/*.xcbkptlist
**/*.xcuserstate
**/xcuserdata
fastlane
android-app/app/release
app-ios/releases
native-cache
test/native-cache
test/testdatabase.sqlite
test/undefined/*
artifacts
.vscode
libs/webassembly/include/
tuta-sdk/out
app-android/app/src/main/jniLibs
app-android/app/src/main/java/de/tutao/tutasdk
DerivedData/
