.classpath
.project
build/
*/bin/
node_modules/
*/.idea/
.idea/

cordova/platforms/android/CordovaLib
cordova/platforms/android/ant-build
cordova/platforms/android/ant-gen
cordova/platforms/android/bin
cordova/platforms/android/assets