<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="de.tutanota.native" version="0.0.1">
  <name>tutanota-native</name>
  <description>Native implementation of various tutanota features</description>
  <license>Copyright 2014 Tutao GmbH</license>
  <keywords>tutanota</keywords>

  <dependency id="cordova-plugin-compat" version="^1.0.0" />

  <js-module src="www/telephone.js" name="telephone">
    <clobbers target="tutao.native.device.Phone" />
  </js-module>
  <js-module src="www/crypto.js" name="crypto">
    <clobbers target="tutao.native.device.Crypto" />
  </js-module>
  <js-module src="www/util.js" name="util">
    <clobbers target="tutao.native.device.Util" />
  </js-module>
  <js-module src="www/fileUtil.js" name="fileUtil">
    <clobbers target="tutao.native.device.FileUtil" />
  </js-module>
  <platform name="android">
    <source-file src="libs/android/commons-io-2.4.jar" target-dir="libs" />
    <source-file src="src/android/com/ipaulpro/afilechooser/utils/FileUtils.java" target-dir="src/com/ipaulpro/afilechooser/utils" />
    <source-file src="src/android/de/tutao/crypto/TutaoCipherInputStream.java" target-dir="src/de/tutao/crypto" />
    <source-file src="src/android/de/tutao/plugin/Utils.java" target-dir="src/de/tutao/plugin" />
    <source-file src="src/android/de/tutao/plugin/Util.java" target-dir="src/de/tutao/plugin" />
    <source-file src="src/android/de/tutao/plugin/Telephone.java" target-dir="src/de/tutao/plugin" />
    <source-file src="src/android/de/tutao/plugin/Crypto.java" target-dir="src/de/tutao/plugin" />
    <source-file src="src/android/de/tutao/plugin/PRNGFixes.java" target-dir="src/de/tutao/plugin" />
    <source-file src="src/android/de/tutao/file/FileUtil.java" target-dir="src/de/tutao/file" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Telephone" >
        <param name="android-package" value="de.tutao.plugin.Telephone"/>
      </feature>
      <feature name="Crypto" >
        <param name="android-package" value="de.tutao.plugin.Crypto"/>
      </feature>
      <feature name="Util" >
        <param name="android-package" value="de.tutao.plugin.Util"/>
      </feature>
      <feature name="FileUtil" >
        <param name="android-package" value="de.tutao.file.FileUtil"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <!-- currently not used
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      -->
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    </config-file>
	<config-file target="AndroidManifest.xml" parent="/manifest/application">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="de.tutao.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
                <meta-data
        			android:name="android.support.FILE_PROVIDER_PATHS"
        			android:resource="@xml/paths" />
        </provider>
	</config-file>
	<resource-file src="res/android/xml/paths.xml" target="res/xml/paths.xml" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="Crypto">
        <param name="ios-package" value="Crypto"/>
      </feature>
	  <feature name="FileUtil">
        <param name="ios-package" value="FileUtil"/>
      </feature>
    </config-file>
	<config-file target="*-Info.plist" parent="UIRequiresFullScreen">
            <true/>
	</config-file>
	<config-file target="*-Info.plist" parent="UIStatusBarHidden">
            <true/>
	</config-file>
	<!-- Default strings for permission request. -->
    <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
        <string>Take a picture or video for adding it as attachment.</string>
    </config-file>
	<config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist">
        <string>Add a picture from your library as attachment.</string>
    </config-file>
	<config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
        <string>Used when recording a video as attachment.</string>
    </config-file>
    <config-file parent="NSRemindersUsageDescription" target="*-Info.plist">
        <string>Shows notification when new email arrives.</string>
    </config-file>
	<config-file parent="NSContactsUsageDescription" target="*-Info.plist">
        <string>Find recipient email address in contacts.</string>
    </config-file>
	<config-file parent="CFBundleURLTypes" target="*-Info.plist">
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>CFBundleURLName</key>
				<string>de.tutao.tutanota</string>
				<key>CFBundleURLSchemes</key>
				<array>
				<string>tutanota</string>
				</array>
			</dict>
	</array>
    </config-file>
	<config-file parent="UIAppFonts" target="*-Info.plist">
		<array>
			<string>www/fonts/icomoon.ttf</string>
			<string>www/fonts/ionicons/ionicons.ttf</string>
		</array>
	</config-file>
	
	<resource-file src="res/ios/lang/sq.lproj" target="sq.lproj" />
	<resource-file src="res/ios/lang/hr.lproj" target="hr.lproj" />
	<resource-file src="res/ios/lang/zh_hant.lproj" target="zh_hant.lproj" />
	<resource-file src="res/ios/lang/en.lproj" target="en.lproj" />
	<resource-file src="res/ios/lang/nl.lproj" target="nl.lproj" />
	<resource-file src="res/ios/lang/de.lproj" target="de.lproj" />
	<resource-file src="res/ios/lang/el.lproj" target="el.lproj" />
	<resource-file src="res/ios/lang/fr.lproj" target="fr.lproj" />
	<resource-file src="res/ios/lang/it.lproj" target="it.lproj" />
	<resource-file src="res/ios/lang/pl.lproj" target="pl.lproj" />
	<resource-file src="res/ios/lang/pt_pt.lproj" target="pt_pt.lproj" />
	<resource-file src="res/ios/lang/pt_br.lproj" target="pt_br.lproj" />
	<resource-file src="res/ios/lang/ro.lproj" target="ro.lproj" />
	<resource-file src="res/ios/lang/ru.lproj" target="ru.lproj" />
	<resource-file src="res/ios/lang/es.lproj" target="es.lproj" />
	<resource-file src="res/ios/lang/tr.lproj" target="tr.lproj" />
	<resource-file src="res/ios/lang/fi.lproj" target="fi.lproj" />
	<resource-file src="res/ios/lang/lt_lt.lproj" target="lt_lt.lproj" />
	<resource-file src="res/ios/lang/mk.lproj" target="mk.lproj" />
	<resource-file src="res/ios/lang/sr.lproj" target="sr.lproj" />
	<resource-file src="res/ios/lang/bg_bg.lproj" target="bg_bg.lproj" />
	<resource-file src="res/ios/lang/cs_cz.lproj" target="cs_cz.lproj" />
	<resource-file src="res/ios/lang/da_dk.lproj" target="da_dk.lproj" />
	<resource-file src="res/ios/lang/et_ee.lproj" target="et_ee.lproj" />
	<resource-file src="res/ios/lang/fil_ph.lproj" target="fil_ph.lproj" />
	<resource-file src="res/ios/lang/hu.lproj" target="hu.lproj" />
	<resource-file src="res/ios/lang/id.lproj" target="id.lproj" />
	<resource-file src="res/ios/lang/no.lproj" target="no.lproj" />
	<resource-file src="res/ios/lang/sk_sk.lproj" target="sk_sk.lproj" />
	<resource-file src="res/ios/lang/sv.lproj" target="sv.lproj" />
	<resource-file src="res/ios/lang/ta_in.lproj" target="ta_in.lproj" />
	<resource-file src="res/ios/lang/uk_ua.lproj" target="uk_ua.lproj" />
	<resource-file src="res/ios/lang/vi.lproj" target="vi.lproj" />
	<resource-file src="res/ios/lang/ca_es.lproj" target="ca_es.lproj" />
	
    <framework src="Foundation.framework"/>
    <source-file src="src/ios/TutaoFileChooser.m" compiler-flags="-ITutanota/include/"/>
    <header-file src="include/ios/TutaoFileChooser.h"/>
    <source-file src="src/ios/TutaoFileViewer.m" compiler-flags="-ITutanota/include/"/>
    <header-file src="include/ios/TutaoFileViewer.h"/>
   	<source-file src="src/ios/TutaoUtils.m" compiler-flags="-ITutanota/include/"/>
    <header-file src="include/ios/Tutaoutils.h"/>
   	<source-file src="src/ios/TutaoErrorFactory.m" compiler-flags="-ITutanota/include/"/>
    <header-file src="include/ios/TutaoErrorFactory.h"/>
	<source-file src="src/ios/TutaoEncodingConverter.m" compiler-flags="-ITutanota/include/"/>
    <header-file src="include/ios/TutaoEncodingConverter.h"/>
	<source-file src="src/ios/TutaoAes128Facade.m" compiler-flags="-ITutanota/include/"/>
    <header-file src="include/ios/TutaoAes128Facade.h"/>
	<source-file src="src/ios/Crypto.m" compiler-flags="-ITutanota/include/"/>
    <header-file src="include/ios/Crypto.h"/>
	<source-file src="src/ios/FileUtil.m" compiler-flags="-ITutanota/include/"/>
    <header-file src="include/ios/FileUtil.h"/>
	<header-file src="include/ios/rsa_oaep_sha256.h"/>
	<source-file src="src/ios/rsa_oaep_sha256.c" compiler-flags="-ITutanota/include/"/>
	<source-file src="libs/ios/openssl/libcrypto.a" target-dir="libs" framework="true" />
	<header-file src="include/ios/JFBCrypt.h"/>
	<source-file src="src/ios/JFBCrypt.m"/>
	<header-file src="include/ios/JFGC.h"/>
  </platform>
</plugin>
