<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="de.tutanota.native" version="0.0.1">
  <name>tutanota-native</name>
  <description>Native implementation of various tutanota features</description>
  <license>Copyright 2014 Tutao GmbH</license>
  <keywords>tutanota</keywords>

  <dependency id="cordova-plugin-compat" version="^1.0.0" />

  <js-module src="www/telephone.js" name="telephone">
    <clobbers target="tutao.native.device.Phone" />
  </js-module>
  <js-module src="www/crypto.js" name="crypto">
    <clobbers target="tutao.native.device.Crypto" />
  </js-module>
  <js-module src="www/util.js" name="util">
    <clobbers target="tutao.native.device.Util" />
  </js-module>
  <js-module src="www/fileUtil.js" name="fileUtil">
    <clobbers target="tutao.native.device.FileUtil" />
  </js-module>
  <platform name="android">
    <source-file src="libs/android/commons-io-2.4.jar" target-dir="libs" />
    <source-file src="src/android/com/ipaulpro/afilechooser/utils/FileUtils.java" target-dir="src/com/ipaulpro/afilechooser/utils" />
    <source-file src="src/android/de/tutao/crypto/TutaoCipherInputStream.java" target-dir="src/de/tutao/crypto" />
    <source-file src="src/android/de/tutao/plugin/Utils.java" target-dir="src/de/tutao/plugin" />
    <source-file src="src/android/de/tutao/plugin/Util.java" target-dir="src/de/tutao/plugin" />
    <source-file src="src/android/de/tutao/plugin/Telephone.java" target-dir="src/de/tutao/plugin" />
    <source-file src="src/android/de/tutao/plugin/Crypto.java" target-dir="src/de/tutao/plugin" />
    <source-file src="src/android/de/tutao/plugin/PRNGFixes.java" target-dir="src/de/tutao/plugin" />
    <source-file src="src/android/de/tutao/file/FileUtil.java" target-dir="src/de/tutao/file" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Telephone" >
        <param name="android-package" value="de.tutao.plugin.Telephone"/>
      </feature>
      <feature name="Crypto" >
        <param name="android-package" value="de.tutao.plugin.Crypto"/>
      </feature>
      <feature name="Util" >
        <param name="android-package" value="de.tutao.plugin.Util"/>
      </feature>
      <feature name="FileUtil" >
        <param name="android-package" value="de.tutao.file.FileUtil"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <!-- currently not used
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      -->
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    </config-file>
	<config-file target="AndroidManifest.xml" parent="/manifest/application">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="de.tutao.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
                <meta-data
        			android:name="android.support.FILE_PROVIDER_PATHS"
        			android:resource="@xml/paths" />
        </provider>
	</config-file>
	<resource-file src="res/android/xml/paths.xml" target="res/xml/paths.xml" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="Crypto">
        <param name="ios-package" value="Crypto"/>
      </feature>
    </config-file>
	<config-file target="*-Info.plist" parent="UIRequiresFullScreen">
            <true/>
	</config-file>
	<config-file target="*-Info.plist" parent="UIStatusBarHidden">
            <true/>
	</config-file>
	<!-- Default strings for permission request. -->
    <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
        <string>Take a picture or video for adding it as attachment.</string>
    </config-file>
	<config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist">
        <string>Add a picture from your library as attachment.</string>
    </config-file>
	<config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
        <string>Used when recording a video as attachment.</string>
    </config-file>
    <config-file parent="NSRemindersUsageDescription" target="*-Info.plist">
        <string>Shows notification when new email arrives.</string>
    </config-file>
	<config-file parent="NSContactsUsageDescription" target="*-Info.plist">
        <string>Find recipient email address in contacts.</string>
    </config-file>>
	<resource-file src="res/ios/de.lproj" target="de.lproj" />
	
    <framework src="Foundation.framework"/>
	<source-file src="src/ios/Crypto.m" compiler-flags="-ITutanota/include/"/>
    <header-file src="src/ios/Crypto.h"/>
	<header-file src="src/ios/rsa_oaep_sha256.h"/>
	<source-file src="src/ios/rsa_oaep_sha256.c" compiler-flags="-ITutanota/include/"/>
	<source-file src="lib/ios/openssl/libcrypto.a" target-dir="libs" framework="true" />
	<header-file src="src/ios/JFBCrypt.h"/>
	<source-file src="src/ios/JFBCrypt.m"/>
	<header-file src="src/ios/JFGC.h"/>
  </platform>
</plugin>
