<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.bridge.open" version="0.1.5">
  <name>Open</name>
  <description>Open documents with compatible applications installed on the user's device.</description>
  <license>GPLv2</license>
  <keywords>cordova,file,open,intent</keywords>
  <repo>https://github.com/cordova-bridge/open</repo>
  <issue>https://github.com/cordova-bridge/open/issues</issue>
  <js-module name="Open" src="www/bridge.open.js">
    <merges target="cordova.plugins.bridge"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="Open">
        <param name="android-package" value="com.bridge.Open"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/Open.java" target-dir="src/com/bridge"/>
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="Open">
        <param name="ios-package" value="Open"/>
      </feature>
    </config-file>
    <framework src="QuickLook.framework" />
    <framework src="Foundation.framework" />
    <source-file src="src/ios/Open.m"/>
    <header-file src="src/ios/Open.h"/>
  </platform>
</plugin>
