<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="de.appplant.cordova.plugin.badge"
        version="0.6.0dev">

    <name>Badge</name>

    <description>Cordova plugin to access and modify the badge number of the app icon</description>
    <repo>https://github.com/katzer/cordova-plugin-badge.git</repo>
    <keywords>badge, notification, live tiles, ios, windows phone 8, wp8, android</keywords>
    <license>Apache 2.0</license>

    <author>Sebastián Katzer</author>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/badge.js" name="Badge">
        <clobbers target="plugin.notification.badge" />
        <clobbers target="cordova.plugins.notification.badge" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Badge">
                <param name="ios-package" value="APPBadge"/>
            </feature>
        </config-file>

        <header-file src="src/ios/APPBadge.h" />
        <source-file src="src/ios/APPBadge.m" />
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="Badge">
                <param name="wp-package" value="Badge"/>
            </feature>
        </config-file>

        <source-file src="src/wp8/Badge.cs" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Badge">
                <param name="android-package" value="de.appplant.cordova.plugin.badge.Badge"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!--
             * The launch activity is triggered when a notification is clicked by a user.
             * The activity launches the main activity.
            -->
            <activity android:name="de.appplant.cordova.plugin.badge.LaunchActivity" android:launchMode="singleInstance" />
        </config-file>

        <source-file src="src/android/Badge.java"          target-dir="src/de/appplant/cordova/plugin/badge" />
        <source-file src="src/android/LaunchActivity.java" target-dir="src/de/appplant/cordova/plugin/badge" />
    </platform>
</plugin>
