<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.ionic.keyboard"
    version="1.0.3">
    <name>Keyboard</name>
    <description>Ionic Keyboard Plugin</description>
    <license>Apache 2.0</license>
    <keywords>Ionic,keyboard</keywords>
    <repo>https://github.com/driftyco/ionic-plugins-keyboard.git</repo>
    <issue>https://github.com/driftyco/ionic-plugins-keyboard/issues</issue>

  <js-module src="www/keyboard.js" name="keyboard">
    <clobbers target="cordova.plugins.Keyboard" />
  </js-module>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Keyboard">
        <param name="android-package" value="com.ionic.keyboard.IonicKeyboard" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/IonicKeyboard.java" target-dir="src/com/ionic/keyboard" />
  </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Keyboard">
                <param name="ios-package" value="IonicKeyboard" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/IonicKeyboard.h" />
        <source-file src="src/ios/IonicKeyboard.m" />
        <header-file src="src/ios/UIWebViewExtension.h" />
        <source-file src="src/ios/UIWebViewExtension.m" />
    </platform>

</plugin>
