<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="ionic-plugin-keyboard"
    version="1.0.9">
    <name>Keyboard</name>
    <description>Ionic Keyboard Plugin</description>
    <license>Apache 2.0</license>
    <keywords>Ionic,keyboard</keywords>
    <repo>https://github.com/driftyco/ionic-plugin-keyboard.git</repo>
    <issue>https://github.com/driftyco/ionic-plugin-keyboard/issues</issue>


    <!-- android -->
    <platform name="android">
        <js-module src="www/android/keyboard.js" name="keyboard">
            <runs/>
            <clobbers target="cordova.plugins.Keyboard" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Keyboard">
              <param name="android-package" value="io.ionic.keyboard.IonicKeyboard" />
              <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/android/IonicKeyboard.java" target-dir="src/io/ionic/keyboard" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/ios/keyboard.js" name="keyboard">
            <runs/>
            <clobbers target="cordova.plugins.Keyboard" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="Keyboard">
                <param name="ios-package" value="IonicKeyboard" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/IonicKeyboard.h" />
        <source-file src="src/ios/IonicKeyboard.m" />
    <!--
        <header-file src="src/ios/UIWebViewExtension.h" />
        <source-file src="src/ios/UIWebViewExtension.m" />
     -->
    </platform>

    <!-- blackberry10 -->
    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" target-dir='Keyboard' />
        <lib-file src="src/blackberry10/native/device/libKeyboard.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libKeyboard.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
            <feature name="Keyboard" value="io.ionic.keyboard"/>
        </config-file>
    </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/KeyboardProxy.js" name="KeyboardProxy">
            <runs />
            <clobbers target="cordova.plugins.Keyboard" />
        </js-module>
    </platform>

</plugin>
