name: Create a release draft

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 14.15.4
        uses: actions/setup-node@v1
        with:
          node-version: 14.15.4
      - name: npm i
        run: npm i @octokit/rest
      - name: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: node buildSrc/github-release ${{ github.event.inputs.tag }}
