name: Create a release draft

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.3.0
      - name: npm i
        run: npm i @octokit/rest
      - name: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: "node buildSrc/createGithubReleaseDraft --tag tutanota-release-${{ github.event.inputs.tag }}
                                                     --name ${{ github.event.inputs.tag }}
                                                     --milestone ${{ github.event.inputs.tag }}
                                                     --platform all"
