name: Rust CI

on:
  pull_request:
    types: [ opened, synchronize, edited ]
    paths:
      - 'tuta-sdk/**'
      - '.github/workflows/rust-test.yml'
  push:
    branches:
      - dev-*
      - '*/dev'

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      actions: none
      checks: none
      contents: read
      deployments: none
      id-token: none
      issues: none
      discussions: none
      packages: none
      pages: none
      pull-requests: none
      repository-projects: none
      security-events: none
      statuses: none

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4.1.1
      - name: setup rust
        run: |
          # Specify an exact Rust version.
          #
          # Newer versions will enable newer features, but at the same time, you may get newer warnings which you have
          # to fix. This should be a manual step.
          rustup install 1.83.0
          rustup default 1.83.0
          rustup component add rustfmt clippy
      - name: sdk format
        working-directory: tuta-sdk/rust
        run: cargo fmt --check
      - name: sdk warning check with clippy
        working-directory: tuta-sdk/rust
        run: cargo clippy --package tuta-sdk --no-deps -- -Dwarnings # -Dwarnings changes warnings to errors so that the check fails
      - name: sdk tests
        working-directory: tuta-sdk/rust
        run: cargo test
