name: Node CI

on:
  push:
  pull_request:
  merge_group:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 20.11.1 ]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
      - name: Get better-sqlite3 cached location
        run: |
          echo "better_sqlite3_path=$(node buildSrc/getNativeCacheLocation.js better-sqlite3)" >> $GITHUB_ENV
      - name: try to use cached better-sqlite3
        uses: actions/cache@v3
        with:
          path: ${{ env.better_sqlite3_path }}
          key: ${{ env.better_sqlite3_path }}
      - name: install packages
        run: npm ci
      - name: lint, formatting
        run: |
          npm run check
      - name: run test in node
        run: |
          npm run build-packages
          npm run test-ci
      - name: install chrome
        id: setup-chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable
      - name: run test in browser
        timeout-minutes: 3
        run: |
          echo Chrome version: ${{ steps.setup-chrome.outputs.chrome-version }}
          npm run test:app -- --no-run --browser --browser-cmd '${{ steps.setup-chrome.outputs.chrome-path }} --enable-logging=stderr --headless=new --disable-gpu'
      - name: build web app
        run: |
          node webapp --disable-minify
      - name: check for FIXMEs
        run: |
          if grep "FIXME\|[fF]ixme" -r src buildSrc test/tests packages/*/lib app-android/app/src app-ios/tutanota/Sources; then
            echo 'FIXMEs in src';
            exit 1;
          else
            echo 'No FIXMEs in src';
          fi
